name: Unit tests for summarize module
on:
  pull_request:
    types: [opened, synchronize, reopened, labeled, unlabeled]
  push:
    branches: [ master ]

jobs:
  run-tests:
    if: "!contains(github.event.pull_request.labels.*.name, 'no-test')"
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [ '3.8', '3.9', '3.10' ]
    name: Python ${{ matrix.python-version }}
    steps:
      - name: Check out repository
        uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      - name: Run unit test for the 'summarize' module
        run: |
          cd test/summarize_test
          python summarize_test.py
